# Markdowns
## Markdowns
### Markdowns
#### Markdowns

# insert site address
[site](http://localhost:8888/notebooks/Vam's%20Python/Untitled.ipynb?kernel_name=python3)

# Apple
[this is apple](https://www.apple.com/)

# insert image
![text](https://cdn.pinkvilla.com/files/styles/contentpreview/public/Avengers%20Endgame%20toy%20leak%20REVEALS%20Tony%20Stark%20aka%20Iron%20Man%27s%20new%20suit%20%281%29.jpg?itok=b32q1hBr)

# Python basics:
Python is easy to learn

# creating odered list
1. ABS
2. BCT
      1. RTS

# bold and italics text
**VAMSHI**
*VAMSHI*

In [5]:
# First Hello world program
print("Hello World, this is Chitti the ROBOT. Speed:1TZH's Memory: 1ZB")

Hello World, this is Chitti the ROBOT. Speed:1TZH's Memory: 1ZB

In [6]:
# Variable creation
x=10
y=20
x+y

30

In [9]:
# arithmetic operations
x=10
y=3
x/y

3.3333333333333335

# Rules for variables
- name has to begin with a character
- no special character allowed except (_) underscore

In [10]:
name= "Vamshi"
loves= "chocolates and mimi"
print("I'm ",name,"I love ",loves)

I'm  Vamshi I love  chocolates and mimi

In [2]:
name= input("enter your name")
jno= int(input("Enter your jersey number"))
print("I'm",name,"My jersey number is",jno)

enter your nameVamshi
Enter your jersey number10
I'm Vamshi My jersey number is 10

In [1]:
x= int(input("Enter any number"))
y = int(input("Enter another number"))
print("addition:",x+y,"subtraction:",x-y,"multiplication:",x*y ,"remainder:",x%y)

Enter any number10
Enter another number20
addition: 30 subtraction: -10 multiplication: 200 remainder: 10

# fundamental datatypes
- int
- float
- complex
- boolean
- string

In [3]:
x= 10
y = 39.10
z= 17+5j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [4]:
q= complex(10,20)
print(q)

(10+20j)

In [5]:
v= 6+8j
m= 4-2j
print(v+m)
print(v-m)
print(v*m)

(10+6j)
(2+10j)
(40+20j)

In [6]:
v=20
m=21
v>m

False

In [8]:
vam=10
print(type(vam))
s= str(vam)
print(type(s))
f=float(vam)
print(type(f))

<class 'int'>
<class 'str'>
<class 'float'>

In [9]:
#length of string
a=1234
print(len(str(a)))

4

In [10]:
n=100
a=b=c=10
print(n)
print(a,b,c)

100
10 10 10

In [11]:
x= 6+ 8**56 +(4+0)
print(x)

374144419156711147060143317175368453031918731001866

#Operators
- +
- -
- *
- /
- %
- **
- //

# relational operators
- ==,<= , >=, >, <, !=

# logical operators
- and
- or
- not

In [3]:
i=39
a = (i>29) and (i<40)
b = (i>29) or (i<53)
print(a)
print(b)

True
True

# membership operator
- in
- not in

In [4]:
print('a' in 'Vamshi')

True

# control flow statements
- conditional statements 
- looping statements
-- if - else statements
     - syntax
 ##### if condition:
 > *statements*
 
 ##### else:
 > statements

In [5]:
# checking a number is odd or even
n = int(input("Enter a number"))
if n%2==0:
    print("Even")
else:
    print("Odd")

Enter a number5
Odd

In [7]:
# check given number is perfectly multiple of 3 and 5
n = int(input("Enter a number"))
if n%3 and n%5==0:
    print("it is")
else:
    print("No!")

Enter a number6
No!

In [13]:
# checking a number is positive, negative or zero
n = int(input("Enter a number"))
if n>0:
    print("Positive")
elif n==0:
    print("zero")
else: 
    print("negative")

Enter a number-7
negative